{% extends "components/base.html" %}
{%  load static %}
{% block title %}Payment successful{% endblock %}

{% block content %}
  <h1>Your payment was successful</h1>
  <p>Your payment has been processed successfully.</p>



    <script type="text/javascript" src="{% static 'lib/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bvselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
