{% load static %}
<section class="banner banner--01">
    <div class="container">
        <!-- Desktop Version -->
        <div class="banner__wrapper row">
            <div class="col-lg-8">
                <div class="swiper-container banner-slider--one">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="banner__wrapper-img banner__wrapper--img-01">
                                <img src="{% static 'images/banner/banner_1.png' %}" alt="banner" />

                                <div class="banner__wrapper-text">
                                    <h2 class="font-title--xl">
                                        The Amazing Movie Adventure
                                    </h2>
                                    <div class="sale-off">
                                        <h5 class="font-body--xxl-500">Discount up to <span>50% off</span></h5>
                                        <p class="font-body--md">
                                            Get your tickets now and enjoy exclusive offers.
                                        </p>
                                    </div>
                                    <a href="#" class="button button--md">
                                        Buy Tickets
                                        <span>
                                            <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner__wrapper-img banner__wrapper--img-01">
                                <img src="{% static 'images/banner_1.png' %}" alt="banner" />

                                <div class="banner__wrapper-text">
                                    <h2 class="font-title--xl">
                                        Epic Movie Marathon
                                    </h2>
                                    <div class="sale-off">
                                        <h5 class="font-body--xxl-500">Discount up to <span>40% off</span></h5>
                                        <p class="font-body--md">
                                            Enjoy free popcorn with every ticket purchase.
                                        </p>
                                    </div>
                                    <a href="#" class="button button--md">
                                        Get Tickets
                                        <span>
                                            <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner__wrapper-img banner__wrapper--img-01">
                                <img src="{% static 'images/banner_2.png' %}" alt="banner" />

                                <div class="banner__wrapper-text">
                                    <h2 class="font-title--xl">
                                        Blockbuster Movie Premiere
                                    </h2>
                                    <div class="sale-off">
                                        <h5 class="font-body--xxl-500">Tickets at <span>20% off</span></h5>
                                        <p class="font-body--md">
                                            Enjoy a free drink with every purchase.
                                        </p>
                                    </div>
                                    <a href="#" class="button button--md">
                                        Book Now
                                        <span>
                                            <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="banner__wrapper-img-sm">
                    <div class="banner__wrapper-img banner__wrapper--img-02">
                        <img src="{% static 'images/banner/banner.png' %}" alt="banner" />

                        <div class="banner__wrapper-text">
                            <h5 class="font-body--md-500">Premiere Night</h5>
                            <h2 class="font-title--sm font-body--md">50% off</h2>
                            <p class="font-body--md">On All Movie Tickets</p>
                            <a href="#" class="button button--md">
                                Get Tickets
                                <span>
                                    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="banner__wrapper-img banner__wrapper--img-03">
                        <img src="{% static 'images/banner/banner.png' %}" alt="banner" />

                        <div class="banner__wrapper-text">
                            <h5 class="font-body--md-500">Exclusive Offer</h5>
                            <h2 class="font-title--sm">
                                Movie of the Month Special
                            </h2>
                        
                            <a href="#" class="button button--md">
                                Buy Tickets
                                <span>
                                    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Version  -->
    </div>
</section>
