{% load static %}
<header class="header header--one">
    <div class="header__top">
        <div class="container">
            <div class="header__top-content">
                <div class="header__top-left">
                    <p class="font-body--sm">
                        ClickFlix. © 2024. All Rights Reserved.
                    </p>
                </div>
                <div class="header__top-right">
                    <div class="header__in">
                        <!-- TODO: add link -->
                        <a href="{% url 'login' %}">Sign in </a>
                        <span>/</span>
                        <!-- TODO: add link -->
                        <a href="{% url 'register' %}">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__center">
        <div class="container">
            <div class="header__center-content">
                <div class="header__brand">
                    <button class="header__sidebar-btn">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 12H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3 6H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3 18H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <a href="{% url 'dashboard' %}">
                        <img src="{% static 'images/logo.png' %}" alt="brand-logo" style="width: 200px; height: 100px;" />
                    </a>
                </div>
                <form method="GET" action="{% url 'search_movie' %}">
                    <div class="header__input-form">
                        <input type="text" placeholder="Search" name="{{ form.title.name }}" value="{{ form.title.value }}">
                        <span class="search-icon">
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.16667 16.3333C12.8486 16.3333 15.8333 13.3486 15.8333 9.66667C15.8333 5.98477 12.8486 3 9.16667 3C5.48477 3 2.5 5.98477 2.5 9.66667C2.5 13.3486 5.48477 16.3333 9.16667 16.3333Z"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path d="M17.4999 18L13.8749 14.375" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        <button type="submit" class="search-btn button button--md">
                            Search
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-content">
                <ul class="header__navigation-menu">
                    <li class="header__navigation-menu-link">
                        <a href="{% url 'dashboard' %}">Home </a>
                    </li>
                    <li class="header__navigation-menu-link">
                        <a href="{% url 'search_movie' %}">Shop </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__sidebar">
        <button class="header__cross">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 6L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
        <div class="header__mobile-sidebar">
            <div class="header__mobile-top">
                <form action="#">
                    <div class="header__mobile-input">
                        <input type="text" placeholder="Search" />
                        <button class="search-btn">
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.16667 16.3333C12.8486 16.3333 15.8333 13.3486 15.8333 9.66667C15.8333 5.98477 12.8486 3 9.16667 3C5.48477 3 2.5 5.98477 2.5 9.66667C2.5 13.3486 5.48477 16.3333 9.16667 16.3333Z"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path d="M17.4999 18L13.8749 14.375" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                </form>
                <ul class="header__mobile-menu">
                    <li class="header__mobile-menu-item active">
                        <a href="#" class="header__mobile-menu-item-link">
                            Home
                        </a>
                    </li>
                    <li class="header__mobile-menu-item">
                        <a href="#" class="header__mobile-menu-item-link">
                            Shop
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__mobile-bottom">
                <div class="header__mobile-user">
                    <div class="header__mobile-user--img">
                        <img src="{% static 'images/logo_4x3.png' %}" alt="user" />
                    </div>
                    <div class="header__mobile-user--info">
                        <h2 class="font-body--lg-500">ClickFlix</h2>
                        <p class="font-body--md-400">clickflixofficial@gmail.com</p>
                    </div>
                </div>
                <div class="header__mobile-action d-none">
                    <a href="#" class="button button--md">Sign in</a>
                    <a href="#" class="button button--md button--disable">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</header>
