{% load static %}
<section class="popular-categories section section--md">
    <div class="container">
        <div class="section__head">
            <h2 class="section--title-one font-title--sm">Popular Categories</h2>
            <a href="{% url 'search_movie' %}">
                View All
                <span>
                    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </a>
        </div>
        <!-- Desktop Versions -->
        <div class="popular-categories__wrapper">
            {% for category in categories %}
                <a href="{% url 'search_movie'  %}?categories={{ category.id }}" class="cards-sm popular-categories__wrapper-item">
                    <h5 class="font-body--xl-500">{{ category.name }}</h5>
                </a>
            {% endfor %}
        </div>

        <!-- Mobile  Versions -->
        <div class="swiper-container popular-categories--slider">
            <div class="swiper-wrapper">
                {% for category in categories %}
                    <div class="swiper-slide">
                        <a href="{% url 'search_movie'  %}?categories={{ category.id }}" class="cards-sm popular-categories__wrapper-item">
                            <h5 class="font-body--xl-500">{{ category.name }}</h5>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
