{% load static %}
<section class="popular-categories section section--md">
    <div class="container">
        <div class="section__head">
            <h2 class="section--title-one font-title--sm">Popular Categories</h2>
            <a href="shop-01.html">
                View All
                <span>
                    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </a>
        </div>
        <!-- Desktop Versions -->
        <div class="popular-categories__wrapper">
            <a href="# " class="cards-sm popular-categories__wrapper-item">
                <div class="cards-sm__img-wrapper">
                    <img src="{% static 'images/categories/image-fruits.png' %}" alt="img-01" />
                </div>
                <h5 class="font-body--xl-500">Fresh Fruit</h5>
            </a>

            <a href="# " class="cards-sm popular-categories__wrapper-item">
                <div class="cards-sm__img-wrapper">
                    <img src="{% static 'images/categories/image-icon-vegitables.png' %}" alt="img-01" />
                </div>
                <h5 class="font-body--xl-500">Fresh Vegetables</h5>
            </a>

            <a href="# " class="cards-sm popular-categories__wrapper-item">
                <div class="cards-sm__img-wrapper">
                    <img src="{% static 'images/categories/image-meat.png' %}" alt="img-01" />
                </div>
                <h5 class="font-body--xl-500">Meat & Fish</h5>
            </a>

            <a href="# " class="cards-sm popular-categories__wrapper-item">
                <div class="cards-sm__img-wrapper">
                    <img src="{% static 'images/categories/image-icon-snaks.png' %}" alt="img-01" />
                </div>
                <h5 class="font-body--xl-500">Snacks</h5>
            </a>

            <a href="# " class="cards-sm popular-categories__wrapper-item">
                <div class="cards-sm__img-wrapper">
                    <img src="{% static 'images/categories/img-12.png' %}" alt="img-01" />
                </div>
                <h5 class="font-body--xl-500">Beverages</h5>
            </a>

            <a href="# " class="cards-sm popular-categories__wrapper-item">
                <div class="cards-sm__img-wrapper">
                    <img src="{% static 'images/categories/image-icon-beauty.png' %}" alt="img-01" />
                </div>
                <h5 class="font-body--xl-500">Beauty & Health</h5>
            </a>

            <a href="# " class="cards-sm popular-categories__wrapper-item">
                <div class="cards-sm__img-wrapper">
                    <img src="{% static 'images/categories/image-icon-snaks2.png' %}" alt="img-01" />
                </div>
                <h5 class="font-body--xl-500">Bread & Bakery</h5>
            </a>

            <a href="# " class="cards-sm popular-categories__wrapper-item">
                <div class="cards-sm__img-wrapper">
                    <img src="{% static 'images/categories/img-06.png' %}" alt="img-01" />
                </div>
                <h5 class="font-body--xl-500">Baking Needs</h5>
            </a>

            <a href="# " class="cards-sm popular-categories__wrapper-item">
                <div class="cards-sm__img-wrapper">
                    <img src="{% static 'images/categories/img-07.png' %}" alt="img-01" />
                </div>
                <h5 class="font-body--xl-500">Cooking</h5>
            </a>

            <a href="# " class="cards-sm popular-categories__wrapper-item">
                <div class="cards-sm__img-wrapper">
                    <img src="{% static 'images/categories/img-08.png' %}" alt="img-01" />
                </div>
                <h5 class="font-body--xl-500">Diabetic Food</h5>
            </a>

            <a href="# " class="cards-sm popular-categories__wrapper-item">
                <div class="cards-sm__img-wrapper">
                    <img src="{% static 'images/categories/image-soda.png' %}" alt="img-01" />
                </div>
                <h5 class="font-body--xl-500">Dish Detergents</h5>
            </a>

            <a href="# " class="cards-sm popular-categories__wrapper-item">
                <div class="cards-sm__img-wrapper">
                    <img src="{% static 'images/categories/image-oil.png' %}" alt="img-01" />
                </div>
                <h5 class="font-body--xl-500">Oil</h5>
            </a>
        </div>

        <!-- Mobile  Versions -->
        <div class="swiper-container popular-categories--slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="# " class="cards-sm popular-categories__wrapper-item">
                        <div class="cards-sm__img-wrapper">
                            <img src="{% static 'images/categories/image-fruits.png' %}" alt="img-01" />
                        </div>
                        <h5 class="font-body--xl-500">Fresh Fruit</h5>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="# " class="cards-sm popular-categories__wrapper-item">
                        <div class="cards-sm__img-wrapper">
                            <img src="{% static 'images/categories/image-icon-vegitables.png' %}" alt="img-01" />
                        </div>
                        <h5 class="font-body--xl-500">Fresh Vegetables</h5>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="# " class="cards-sm popular-categories__wrapper-item">
                        <div class="cards-sm__img-wrapper">
                            <img src="{% static 'images/categories/image-meat.png' %}" alt="img-01" />
                        </div>
                        <h5 class="font-body--xl-500">Meat & Fish</h5>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="# " class="cards-sm popular-categories__wrapper-item">
                        <div class="cards-sm__img-wrapper">
                            <img src="{% static 'images/categories/image-icon-snaks.png' %}" alt="img-01" />
                        </div>
                        <h5 class="font-body--xl-500">Snacks</h5>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="# " class="cards-sm popular-categories__wrapper-item">
                        <div class="cards-sm__img-wrapper">
                            <img src="{% static 'images/categories/img-12.png' %}" alt="img-01" />
                        </div>
                        <h5 class="font-body--xl-500">Beverages</h5>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="# " class="cards-sm popular-categories__wrapper-item">
                        <div class="cards-sm__img-wrapper">
                            <img src="{% static 'images/categories/image-icon-beauty.png' %}" alt="img-01" />
                        </div>
                        <h5 class="font-body--xl-500">Beauty & Health</h5>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="# " class="cards-sm popular-categories__wrapper-item">
                        <div class="cards-sm__img-wrapper">
                            <img src="{% static 'images/categories/image-icon-snaks2.png' %}" alt="img-01" />
                        </div>
                        <h5 class="font-body--xl-500">Bread & Bakery</h5>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="# " class="cards-sm popular-categories__wrapper-item">
                        <div class="cards-sm__img-wrapper">
                            <img src="{% static 'images/categories/img-06.png' %}" alt="img-01" />
                        </div>
                        <h5 class="font-body--xl-500">Baking Needs</h5>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="# " class="cards-sm popular-categories__wrapper-item">
                        <div class="cards-sm__img-wrapper">
                            <img src="{% static 'images/categories/img-07.png' %}" alt="img-01" />
                        </div>
                        <h5 class="font-body--xl-500">Cooking</h5>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="# " class="cards-sm popular-categories__wrapper-item">
                        <div class="cards-sm__img-wrapper">
                            <img src="{% static 'images/categories/img-08.png' %}" alt="img-01" />
                        </div>
                        <h5 class="font-body--xl-500">Diabetic Food</h5>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="# " class="cards-sm popular-categories__wrapper-item">
                        <div class="cards-sm__img-wrapper">
                            <img src="{% static 'images/categories/image-soda.png' %}" alt="img-01" />
                        </div>
                        <h5 class="font-body--xl-500">Dish Detergents</h5>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="# " class="cards-sm popular-categories__wrapper-item">
                        <div class="cards-sm__img-wrapper">
                            <img src="{% static 'images/categories/image-oil.png' %}" alt="img-01" />
                        </div>
                        <h5 class="font-body--xl-500">Oil</h5>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
