{% load static %}
<div class="modal fade newsletter-popup" id="newsletter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row newsletter-popup__content">
                    <div class="col-lg-5">
                        <div class="newsletter-popup__img-wrapper">
                            <img src="{% static 'images/banner/popup.png' %}" alt="newsletter" />
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="newsletter-popup__text-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <h5 class="font-title--xl">Subscribe to Our Newsletter</h5>
                            <p class="font-body--lg">
                                Subscribe to our newlletter and Save your
                                <span>20% money </span> with discount code today.
                            </p>

                            <form action="#">
                                <div class="contact-mail">
                                    <input type="email" placeholder="Enter Your email" />
                                    <button class="button button--md">Subscribe</button>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="doNotShowNewsletter" />
                                    <label class="form-check-label font-body--md-400" for="doNotShowNewsletter">
                                        Do not show this window
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>