{% extends "components/base.html" %}
{% load static %}

{% block title %}Homepage | ClickFlix{% endblock %}

{% block content %}
    <!-- Shopping Cart sidebar  start  -->
    {% include "components/cart_sidebar.html" %}
    <!-- Shopping Cart sidebar  end -->

    <!-- Header Section start -->
    {% if user.is_authenticated %}
        {% include "components/header_login.html" %}
    {% else %}
        {% include "components/header.html" %}
    {% endif %}
    <!-- Header  Section start -->

    <!-- Banner  Section Start  -->
    {% include 'components/banner.html' %}
    <!-- Banner Section end  -->

    <!-- commitment to quality Section Start  -->
    {% include 'components/commit.html' %}
    <!-- commitment to quality Section end  -->

    <!-- popular categories Section Start  -->
    {% include 'components/popular_categories.html' %}
    <!-- popular categories Section end  -->

    <!-- popular products Section Start  -->
    {% include 'components/popular_products.html' %}
    <!-- popular products Section end  -->

    {% include 'components/latest_products.html' %}

    <!-- Instagram follow Section Start  -->
    <!-- {% include 'components/follow.html' %} -->
    <!-- Instagram follow Section end  -->

    <!-- cal-to-action Section Start  -->
    {% include 'components/subcribe.html' %}
    <!-- cal-to-action Section end  -->

    <!--Footer Section Start  -->
    {% include 'components/footer.html' %}
    <!--Footer Section end  -->

    <!-- Modal -->
    {% include 'components/popup.html' %}

    <!-- Product Quick View Modal -->
    {% include 'components/quick_view.html' %}

    <script type="text/javascript" src="{% static 'lib/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/venobox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bvselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/jquery.syotimer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home1.js' %}"></script>
{% endblock %}
