{% extends "components/base.html" %}
{% load static %}


{% block title %} Cart detail {% endblock %}


{% block content %}

    {% with item_length=cart|length %}
    {% if item_length > 0 %}
        {% for item in cart %}
                {% with movie=item.movie %}
                {{ movie.title }}
                <img src="{{ 'https://media.themoviedb.org/t/p/w300_and_h450_bestv2' | add:movie.image }}">
                <p>Price: {{ movie.price }}</p>

                <form action="{% url 'cart:remove_from_cart' movie.id}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Remove">

                </form>
                {% endwith %}
        {% endfor %}
    {% else %}
        <p>Cart is empty</p>
    {% endif %}
    {% endwith %}

    <div class="Total">

        <p>Total: {{ cart.get_total_price }}</p>

    </div>

    <script type="text/javascript" src="{% static 'lib/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bvselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
